
    <section class="hero-restaurant container">

    <h1 class="hero-title">MIMIHO</h1>
    <h2 class="hero-restaurant-title">Ресторан</h2>
    <h3 class="hero-taste">СМАК ЖИТТЯ 24/7</h3>
    <div class="hero-btn-restaurant">

            <a class="hero-address link" href="https://www.google.com/maps/place/Marshala+Biryuzova+St,+15,+Kyiv,+02000/@50.4096292,30.4159701,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4c95eca5b018d:0xfcdef341e703d9f2!8m2!3d50.4096292!4d30.4181588!16s%2Fg%2F1tfbrdd7" target="_blank" rel="noreferrer noopener">
            <svg class="address-icon" width="20" height="20">
                <use href="/src/images/sprite.svg#icon-location"></use></svg>
                    Україна, м. Полтава,</br>вул. Маршала Бірюзова, 15</a>

        <button class="btn-disabled" type="button">Забронювати столик</button>
        <button class="btn-disabled mobile" type="button">Забронювати номер</button>
        <button class="btn-disabled second" type="button">Переглянути меню</button>
    </div>
</section>