
    <div class="hero-restaurant container">
    <address class="hero-address">
        <svg class="address-icon" width="16" height="10"><use href="/src/images/sprite.svg#icon-location"></use></svg>
        Україна, м. Полтава,</br>вул. Маршала Бірюзова, 15
    </address>
    <h1 class="hero-title">MIMIHO</h1>
    <h2 class="hero-restaurant-title">Ресторан</h2>
    <h3 class="hero-taste">СМАК ЖИТТЯ 24/7</h3>
    <div class="hero-btn-restaurant">
        <button class="hero-btn" type="button">Забронювати столик</button>
        <button class="hero-btn mobile" type="button">Забронювати номер</button>
        <button class="hero-btn second" type="button">Переглянути меню</button>
    </div>
</div>