/*HERO-HOTEL*/

.hero-hotel-section{}
.container{}

.hero-hotel-text-top{
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: black;
}

.hotel-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #000000;
}

