/*HERO-HOTEL-Desktop*/

.hero-hotel-section {
}

.container {
}

.hero-hotel-text-top {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: black;
}

.hotel-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000000;
}

/*HERO-HOTEL-Mobile*/
@media screen and (min-width: 414px) and (max-width: 1024px) {
  .body {
    background: greenyellow;
  }

  .hero-hotel-section {
    padding-top: 181px;
    padding-bottom: 181px;
  }

  .container {
    width: 414px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .hero-hotel-text-top {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: black;
    margin-top: 70px;
    margin-bottom: 32px;
  }

  .hotel-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 32px;
    margin-bottom: 178px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-hotel-hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero-hotel-btn {
    list-style: none;
  }

  .rez {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #f3c653;
    background: content-box;
    border: 2px solid #ffffff;
    border-radius: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
  }
  .view-cash {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #f3c653;
    background: content-box;
    border: 2px solid #ffffff;
    border-radius: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
  }
  .adress-hotel {
    position: absolute;
    width: 210px;
    left: 189px;
    top: 64px;
    border: 1px solid rgba(243,198,83,.7);
    border-radius: 2px;
    padding-top: 8px;
    padding-right: 3px;
    padding-bottom: 9px;
    padding-left: 34px;
  }
  .adress-hotel-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: #e5e5e5;

  }

}

/*HERO-HOTEL-Tablet*/
