@import '~node_modules/modern-normalize/modern-normalize.css';

// Все сховати

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

// Тінь великих картинок

.shadow-big {
    background: getColor('bcg-img');
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

// Тінь маленьких картинок

.shadow-little {
    background: getColor('bcg-img');
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}

// Cтиль основних кнопок 

.btn-main {
    background: getColor('black');
    border: 2px solid getColor('white');
    border-radius: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: getColor('yellow');
    width: 236px;
    height: 48px;
    text-align: center;
}

// Ховер і фокус основних кнопок та disable
.btn-main:hover,
.btn-main:focus,
.btn-disabled:hover,
.btn-disabled:focus {
    background: getColor('white');
    border: 2px solid getColor('yellow');
}

// Стиль кнопки disabled
.btn-disabled {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid getColor('white');
    border-radius: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: getColor('yellow');
    width: 236px;
    height: 48px;
    text-align: center;
}

// Кнопка бронювання кімнати

.btn-book {
    background: getColor('black');
    border: 1px solid var(--akzent-yellow);
    border-radius: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--white);
    width: 434px;
    height: 65px;
    text-align: center;

    @media screen and (max-width: 1023px) {
        font-size: 20px;
        width: 384px;
        height: 64px;
    }
}

// Ховер і фокус

.btn-book:hover,
.btn-book:focus {
    color: var(--black);
    background: var(--akzent-yellow);
    border: 1px solid var(--akzent-yellow);
}