@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --general-gray-text: #757575;
  --white: #FFFFFF;
  --fon-lemon: #FFFDEE;
  --black: #000000;
  --akzent-yellow: #F3C653;
  --dark-lemon: #F0ECD6;
  --brown: #C79002;
  --color-footer: #0E0C07;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.woff), url(../fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff), url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.woff), url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.woff), url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff), url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "FilmP3";
  src: url(../fonts/FilmP3Bold.woff), url(../fonts/FilmP3Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TimesNewRoman";
  src: url(../fonts/TimesNewRomanPSMT.woff), url(../fonts/TimesNewRomanPSMT.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TimesNewRoman";
  src: url(../fonts/TimesNewRomanPS-BoldMT.woff), url(../fonts/TimesNewRomanPS-BoldMT.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/*=================== Обнуление стилей ======================*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/*=================== Обнуление стилей ======================*/
.footer {
  background-color: var(--color-footer);
}

.footer__container {
  width: 414px;
  padding: 40px 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .footer__container {
    width: 1024px;
    padding: 80px 47px;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    width: 1280px;
    padding: 80px 85px;
  }
}

.footer__logo {
  margin-right: 85px;
  font-family: "FilmP3";
  font-size: 40px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: var(--akzent-yellow);
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    margin-right: 163px;
    font-size: 64px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    margin-right: 231px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__nav {
    display: flex;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .footer__list {
    margin-right: 137px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__list {
    margin-right: 199px;
  }
}

.footer__link {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--akzent-yellow);
}

.footer__social {
  display: flex;
  -moz-column-gap: 22px;
       column-gap: 22px;
}
@media screen and (min-width: 1024px) {
  .footer__social {
    flex-direction: column-reverse;
    row-gap: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__social-item {
    padding: 10px 12px 10px 12px;
    border: 0.5px solid var(--akzent-yellow);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__social-link {
    display: flex;
    align-items: center;
  }
}

.footer__social-text {
  display: none;
}
@media screen and (min-width: 1024px) {
  .footer__social-text {
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--akzent-yellow);
  }
}

.footer__social-icon {
  width: 24px;
  height: 24px;
  fill: var(--akzent-yellow);
}

.telegram {
  padding-right: 17px;
}

.facebook {
  padding-right: 15px;
}

.instagram {
  padding-right: 11px;
}/*# sourceMappingURL=index.css.map */