
:root {
    --general-gray-text: #757575;
    --white: #FFFFFF;
    --fon-lemon: #FFFDEE;
    --black: #000000;
    --akzent-yellow: #F3C653;
    --dark-lemon: #F0ECD6;
    --brown: #C79002;
    --color-footer: #0E0C07;
}