.amenities {
    background-color: var(--fon-lemon);
}
.amenities__container {
    max-width: 414px;
    padding: 32px 15px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width:1024px) {
        max-width: 1024px;
        padding: 48px 15px 48px 15px;
    }
    @media screen and (min-width:1280px){
        max-width: 1280px;
    }
}
.amenities__title {
    margin-bottom: 16px;

    font-family: 'TimesNewRoman';
    font-size: 32px;
    font-weight: 400;
    line-height: 1.15;
    text-transform: uppercase;
}
.amenities__text-subtitle-text {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--general-gray-text);
}
.amenities__box-text {
    @media screen and (min-width:1024px) {
        display: flex;
        column-gap: 80px;
    }
    @media screen and (min-width:1280px){
        column-gap: 159px;
    }
}
.amenities__text {
    margin-bottom: 16px;

    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--general-gray-text);
    @media screen and (min-width:1024px) {
        width: 400px;
        margin-bottom: 0px;
    }
}
.amenities__subtitle {
    margin: 32px 0px 16px 0px;

    font-family: 'TimesNewRoman';
    font-size: 24px;
    font-weight: 700;
    line-height: 1.16;
    text-transform: uppercase;
}
.amenities-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width:1024px) {  
        display: flex;
        flex-direction: column;
        margin-left: auto;  
        margin-right: 47px;    
    }
    @media screen and (min-width:1280px) {
        margin-right: 200px;
    }
}
.amenities__button {
    padding: 20px 42px;
    margin: 16px 0px 20px 0px;

    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--white);
    text-transform: uppercase;

    border: 1px solid var(--akzent-yellow);
    border-radius: 25px;
    background-color: var(--black);
    cursor: pointer;
    @media screen and (min-width:1024px) {
        margin: 40px 0px 32px 0px;
        padding: 18px 37px;
        font-size: 24px;
        width: 434px;
    }
}
.amenities__button:focus,
.amenities__button:hover {
    background-color: var(--akzent-yellow);
    color: var(--black);
}
.amenities__return {
    display: flex;
    align-items: center;

    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: var(--brown);
    @media screen and (min-width:1024px) {
        font-size: 20px;
        line-height: 1.2;
    }
}
.amenities__icon {
    margin-left: 12px;
    width: 24px;
    height: 24px;
    fill: var(--brown);
}