
/* ДОДАНІ СТИЛІ */

.room-hero {
    position: relative;

    max-width: 414px;
    height: 740px;

    margin-left: auto;
    margin-right: auto;
    
    background-image: url(../images/room/room3mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .room-hero {
        background-image: url(../images/room/room3mobile@2x.jpg);
    }
}

@media screen and (min-width: 1024px) {
    .room-hero {
        max-width: 1024px;
        height: 719px;

        background-image: url(../images/room/room3tablet.jpg);
    }
}

@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .room-hero {
        background-image: url(../images/room/room3tablet@2x.jpg);
    }
}

.room-hero .container {
    padding-top: 344px;
}

@media screen and (min-width: 1024px) {
    .room-hero .container {
        padding-top: 340px;
    }
}

.room-hero-shadow {
    position: absolute;
    top: 0;
    left: 0;

    width: 414px;
    height: 143px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);
}

@media screen and (min-width: 1024px) {
    .room-hero-shadow {
        width: 1024px;
        height: 116px;
    }
}

.room-hero-slider {
    display: flex;
    justify-content: space-between;
    margin-bottom: 93px;
}

@media screen and (min-width: 1024px) {
    .room-hero-slider {
        display: flex;
        justify-content: space-between;
        margin-bottom: 88px;
    }
}

.room-slider-btn {
    width: 40px;
    height: 40px;
    padding-left: 1px;
    padding-right: 1px;

    border: none;
    background: #000000a6;
}

.room-slider-btn svg {
    fill: var(--akzent-yellow);
}

.room-loc-link {
    position: absolute;
    top: 64px;
    right: 15px;

    display: flex !important;
    align-items: center;
    width: 210px;

    padding: 8px 6px;

    border: 1px solid #f3c653b3;
    border-radius: 2px;
}

@media screen and (min-width: 1024px) {
    .room-loc-link {
        width: 285px;
        top: 640px;
        right: 692px;
        
        padding: 8px 8px 8px 10px;
    }
}

.room-logo-location {
    fill: var(--akzent-yellow);
}

@media screen and (min-width: 1024px) {
    .room-logo-location {
        width: 24px;
        height: 24px;
    }
}

.room-loc-descr {
    width: 179px;
    margin-left: 8px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #E5E5E5;
}

@media screen and (min-width: 1024px) {
    .room-loc-descr {
        width: 233px;
        margin-left: 10px;

        font-size: 16px;
    }
}

.room-hero-title {
    max-width: 325px;
    margin-bottom: 14px;

    font-family: 'TimesNewRoman';
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;

    color: var(--white);
}

@media screen and (min-width: 1024px) {
    .room-hero-title {
        max-width: 507px;
        margin-bottom: 24px;

        font-size: 36px;
    }
}

.room-hero-title>span {
    text-transform: uppercase;
}

.room-hero-descr {
    max-width: 325px;
    margin-bottom: 17px;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;

    color: var(--white);
}

@media screen and (min-width: 1024px) {
    .room-hero-descr {
        max-width: 400px;
        margin-bottom: 42px;
        
        font-size: 16px;
    }
}

.room-icon-list {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .room-icon-list {
        flex-direction: row;
        margin-left: 325px;
    }
}

.room-icon-list>li {
    display: flex;
}

.room-icon-list>li:not(:last-child) {
    margin-bottom: 8px;
}

@media screen and (min-width: 1024px) {
    .room-icon-list>li:not(:last-child) {
        margin-bottom: 0;
        margin-right: 20px;
    }
}

.room-icon-link {
    display: flex !important;
    fill: var(--akzent-yellow);
}

.room-hero-btn {
    position: absolute;
    bottom: 40px;
    right: 73px;

    padding: 14px 35px;

    background: rgba(0, 0, 0, 0.4);
    border: 2px solid var(--white);
    border-radius: 25px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--akzent-yellow);
}

.room-hero-btn:hover,
.room-hero-btn:active,
.room-hero-btn:focus {
    background: var(--white);
    border: 2px solid var(--akzent-yellow);
}

.room-hero-btn:disabled {
    background: #00000066;
    
    border: 2px solid var(--white);
}



