<!-- Hero
“Міміно” - заголовок сторінки.
“Готель” - підзаголовок.
Кнопка “Забронювати номер” має відкривати модальне вікно Book Room Modal window.
Кнопка “Переглянути ціни” має відкривати модальне вікно Room Price Modal window.
Адресу закладу необхідно реалізувати як посилання на мапу стороннього ресурсу.
Посилання зі списку соц.мереж (в планшетній та мобільній версіях) має відкривати сторонній ресурс в окремій вкладці. -->

<section class="hero-hotel-section">
  <div class="container">
    <h1 class="hero-hotel-text-top">MIMINO</h1>
    <p class="hotel-text">Готель</p>
    <div class="adress-hotel">
      <p class="adress-hotel-text">
        Україна, м. Полтава, вул. Маршала Бірюзова, 15
      </p>
    </div>
    <ul class="hero-hotel-btn">
      <li class="btn-hotel-hero">
        <button type="button" class="rez">Забронювати номер</button>
      </li>
      <li class="btn-hotel-hero">
        <button type="button" class="view-cash">Переглянути ціни</button>
      </li>
    </ul>
  </div>
</section>
