<!-- 1 room luxe for 2 adult
“ДВОМІСНИЙ НОМЕР люкс” - заголовок секції.
В секції представлені зображення готельного номеру, які необхідно реалізувати як контентні.
У секції представлений слайдер з контентними зображеннями*.
Кнопка “Детальніше” має бути реалізована як посилання, яке веде користувача на сторінку Room Page.
Кнопка “Переглянути ціни” має відкривати модальне вікно Room Price Modal window. -->
<section class="room-luxe">
    <div class="container-room-luxe">
        <p class="link">Amet minim mollit non</p>
        <a href="#" class="room-luxe-logo">MIMIHO</a>
        <h2 class="title">ДВОМІСНИЙ НОМЕР люкс</h2>
        <p class="link-room">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <ul>
            <li class="item">
                <img
                class="room-img"
                src="/src/images/main/hero-hotel/main/main-mobile.jpg"
                alt="foto room 1"
                width="244"
                height="322">
            </li>
             <li class="item">
                <img
                class="room-img"
                src="/src/images/slider/slider mobile/arrangement-pf-bathroom-elements-self-care 1.jpg"
                alt="foto room 2"
                width="194"
                height="194">
            </li>
             <li class="item">
                <img
                class="room-img"
                src="/src/images/slider/slider mobile/cup-tea-stands-wooden-windowsill 1.jpg"
                alt="foto room 3"
                width="194"
                height="194">
            </li>
        </ul>
        <ul>
            <li class="item-btn">
                <form action="/src/room.html">
                 <input type="submit" value="Детальніше">
                </form>
            </li>
            <li class="item-btn"><button type="button" class="btn">Переглянути ціни</button></li>
        </ul>

    </div>
</section>