<footer>
    <div class="footer">
        <h1 class="footer-title">MIMIHO</h1>
        <div class="footer-link">
        <ul class="footer-nav">
            <li><a href="" class="nav-item link">Головна</a></li>
            <li><a href="" class="nav-item link">Ресторан</a></li>
            <li><a href="" class="nav-item link">Готель</a></li>
        </ul>
        <ul class="footer-soc">
            <li><a href="#" class="soc-item link"><p class="link-text">Instagram</p><svg class="footer-icon" width="22" height="22"><use href="/src/images/sprite.svg#icon-instagram">    
            </use></svg></a></li>
            <li><a href="#" class="soc-item link"><p class="link-text">Facebook</p><svg class="footer-icon" width="22" height="22"><use href="/src/images/sprite.svg#icon-facebook"> 
            </use></svg></a></li>
            <li><a href="#" class="soc-item link"><p class="link-text">Telegram</p><svg class="footer-icon" width="22" height="22"><use href="/src/images/sprite.svg#icon-telegram">
            </use></svg></a></li>
        </ul>
       </div>
    </div>
</footer>