<!-- Header
В Header-і знаходиться лого, навігація та список посилань на соц.мережі (в мобільній та десктопній версіях).
Логотип (назву) компанії реалізувати як посилання, яке повертає користувача на головну сторінку.
Навігація має бути реалізована як список елементів, кожен з яких містить в собі посилання, що веде на відповідну
сторінку, та посилання у вигляді відповідних контактних телефонів для зворотнього зв’язку.
Посилання на соц. мережу має відкривати сторонній ресурс в окремій вкладці. -->
<header class="header">
    <div class="header__container container">
        <div class="header__body">
            <nav class="header__nav">
                <a href="./index.html" class="header__logo" lang="en">mimino</a>
                <ul class="header__list">
                    <li class="header__item"><a class="header__link" href="./restaurant.html">Ресторан
                            <svg class="header__link-icon">
                                <use href="./images/sprite.svg#icon-phone"></use>
                            </svg>
                        </a>
                        <div class="header__link-box">
                            <a class="header__tel" href="tel:0955559533">095 555 95 33
                                <svg class="header__icon">
                                    <use href="./images/sprite.svg#icon-phone"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="header__item"><a class="header__link" href="./hotel.html">Готель
                            <svg class="header__link-icon">
                                <use href="./images/sprite.svg#icon-phone"></use>
                            </svg>
                        </a>
                        <div class="header__link-box">
                            <a class="header__tel" href="tel:0668491089">066 849 10 89
                                <svg class="header__icon">
                                    <use href="./images/sprite.svg#icon-phone"></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <ul class="header__social">
                <li class="header__social-item"><a href="https://www.instagram.com/" class="header__social-link"
                        target="_blank" rel="noopener">
                        <svg class="header__social-icon">
                            <use href="./images/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="header__social-item"><a href="https://facebook.com/" class="header__social-link"
                        target="_blank" rel="noopener">
                        <svg class="header__social-icon">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="header__social-item"><a href="https://web.telegram.org/z/" class="header__social-link"
                        target="_blank" rel="noopener">
                        <svg class="header__social-icon">
                            <use href="./images/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>