.hero-restaurant {
    display: flex;
    text-align: center;
    background-image: url(/src/images/restaurant/rest-mobile.jpg);
}

.hero-title {
}
.hero-restaurant-title {
}
.hero-taste {
}
.hero-btn-restaurant {
}
