.menu-title {
    font-family: 'Times New Roman', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;
    color:black;
    text-transform: uppercase;
}

.title-table {
    font-family: 'Times New Roman', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: #000000;
}

.name-menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    color: #000000;
}

.composition {
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #000000;
}

.weight {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    color: #000000;
}

.price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    color: #000000;
}

.menu-modal-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #F3C653;
}