.menu-section {
    background-color: var(--fon-lemon);
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (min-width: 1024px) {
    
        background-color: var(--dark-lemon);
        padding-top: 58px;
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {  
        padding-bottom: 60px;
    }
}



.menu-title {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;
    color: black;
    text-transform: uppercase;
    margin-bottom: 32px;
    
}

.title-table {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: #000000;
    margin-bottom: 16px;
    
    text-align: left;

}

.menu-table:not(:last-child) {
    margin-bottom: 16px;
}

.name-menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    color: #000000;
}

.composition {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #000000;
    padding-top: 4px;
    padding-bottom: 8px;
}

.dessert-drink {
    padding-bottom: 8px;
    
}

.hot-meals {
    width: 255px;
    @media screen and (min-width: 1024px) {
        width: 267px;
    }

    @media screen and (min-width: 1280px) {
        width: 310px;
    }
}

.composition-hot {
    width: 220px;

}

.dessert {
    width: 255px;
    @media screen and (min-width: 1024px) {
        width: 275px;
    }

    @media screen and (min-width: 1280px) {
        width: 320px;
    }
}

.drink {
    width: 245px;
    @media screen and (min-width: 1024px) {
        width: 270px;
    }

    @media screen and (min-width: 1280px) {
        width: 320px;
    }
}


.weight {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    color: #000000;
    padding-right: 32px;
}

.price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
    color: #000000;
}

.menu-modal-btn {
    margin-top: 32px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;

    @media screen and (min-width: 1024px) {
    
        justify-content: flex-end;
        margin-right: 0;
        padding-left: 0;
        padding-right: 24px;
    
        }
    
}

.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.table-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 414px;
    height: 668px;
    background-color: #FFFDEE;

}

.table-modal-close-btn {
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;

}

.close-btn-icon {
    display: flex;
    fill: black;
}

// TABLET____________

@media screen and (min-width: 1024px) {


.menu-tables {
    column-count: 2;
    column-gap: 88px;
}

table {
    break-inside: avoid;
}

.appetizers {
    width: 240px;
}


.weight {
    padding-left: 50px;
}
}

// DESKTOP___________________


@media screen and (min-width: 1280px) {
    
    .menu-tables {
        column-count: 2;
        column-gap: 140px;
    }

    .appetizers {
        width: 300px;
    }

}