<!-- Hero
    
“Міміно” - заголовок сторінки.
“Ресторанно-готельний комплекс” - підзаголовок.
Кнопка “Забронювати столик” має відкривати модальне вікно Book Table Modal window.
Кнопка “Забронювати номер” має відкривати модальне вікно Book Room Modal window.
Адресу закладу необхідно реалізувати як посилання на мапу стороннього ресурсу.
Посилання зі списку соц.мереж (в планшетній та мобільній версіях) має відкривати сторонній ресурс в окремій вкладці. -->

<section class="hero-main">
    <div class="container">
        <div class="textbox">
            <h1 class="hero__phrase">mimiho</h1>
            <h2 class="hero__about">Ресторанно-готельний комплекс</h2>
            <p class="hero__text">смак життя 24/7</p>
        </div>

        <div class="hero_bottom">
            <ul>
                <li>
                    <address><a href="https://goo.gl/maps/GWKGg2BgH6eGkUKo9" class="location-address" target="_blank"
                            rel="nofollow noopener norefferer"><svg class="link__socialsvg">
                                <use href="./images/sprite.svg#icon-location">
                                </use>
                            </svg>
                            Україна, м. Полтава,<br> вул. Маршала Бірюзова, 15</a></address>
                </li>

                <li class="desktop-none">
                    <ul class="link__social ">
                        <li><a href="http://instagram.com" target="_blank" rel="nofollow noopener norefferer">
                                <svg class="link__socialsvg">
                                    <use href="./images/sprite.svg#icon-instagram"></use>
                                </svg>
                            </a></li>

                        <li><a href="http://facebook.com" target="_blank" rel="nofollow noopener norefferer">
                                <svg class="link__socialsvg">
                                    <use href="./images/sprite.svg#icon-facebook"></use>
                                </svg>
                            </a></li>

                        <li><a href="https://web.telegram.org" target="_blank" rel="nofollow noopener norefferer">
                                <svg class="link__socialsvg">
                                    <use href="./images/sprite.svg#icon-telegram"></use>
                                </svg>
                            </a></li>
                    </ul>
                </li>
            </ul>

            <ul class="div-hero-btn">
                <li><button class="btn-main opacity-btn">Забронювати номер</button></li>
                <li><button class="btn-main opacity-btn">Забронювати столик</button></li>
            </ul>
        </div>
    </div>
</section>